
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background-color: #726f6f;
      color: #333;
      line-height: 1.6;
    }

    header {
      background-color: #222;
      color: #fff;
      padding: 2rem 1rem;
      text-align: center;
    }

    header h1 {
      font-size: 2.5rem;
      margin-bottom: 0.5rem;
    }

    header p {
      font-size: 1.2rem;
      color: #bbb;
    }

    .main {
      max-width: 800px;
      margin: 2rem auto;
      background-color: #fff;
      padding: 2rem;
      border-radius: 10px;
    }

    .main h2 {
      color: #444;
      margin-bottom: 0.5rem;
    }

    .date {
      color: #888;
      font-size: 0.9rem;
      margin-bottom: 1rem;
    }

    .main p {
      margin-bottom: 1rem;
      text-align: justify;
    }

    footer {
      background-color: #222;
      color: white;
      text-align: center;
      padding: 1.5rem 1rem;
      margin-top: 11rem;
    }

    footer a {
      color: #00bfff;
      text-decoration: none;
    }
